<div class="container p-3 bg-light border mt-2 main-title" style="width: 40rem; border-radius: 25px;">
  <h2 class="main-title fontes">Edit service</h2>
  <img
    src="https://img.freepik.com/vetores-gratis/popularidade-do-usuario-da-rede-social-avaliacao-de-fotos-indicador-de-atividade-quantidade-de-likes-numero-de-avaliacoes-positivas-e-negativas-avatar-foto-de-perfil_335657-2969.jpg"
    alt=""
    style="width: 350px; height: 350px, position: absolute; margin-left: 140px;"
    class="rounded-circle align-items-center"
  />

  <div class="row fontes">
    <div class="col-12 d-flex justify-content-center text-center">
      <div class= "data-card2">
              <%= simple_form_for(@service) do |f| %>
                <div class="form-inputs" style="width: 20rem; border-radius: 25px;">
                  <div class="flat-form2">
                    <%= f.label :Title %>
                    <%= f.input :title, label: false, placeholder: "What is the service?", :input_html => { class: "form-nice-class" } %>
                  </div>

                  <div class="flat-form2">
                    <%= f.label :Description %>
                    <%= f.input :description, label: false, placeholder: "Type a short and objective description", :input_html => { class: "form-nice-class" } %>
                  </div>

                  <div class="flat-form2">
                    <%= f.label :Category %>
                    <%= f.input :category, label: false, include_blank: true, prompt: 'Click to select', collection: ['Education', 'Sports', 'Repairing', 'Social Care', 'Health Care', 'Financial', 'Maintenance', 'Entertainment', 'Food', 'Other'], label: false, :input_html => { class: "form-nice-class"} %>
                  </div>

                  <div class="flat-form2">
                    <%= f.label :Address %>
                    <%= f.input :address, label: false, placeholder: "Type in the adress", :input_html => { class: "form-nice-class" } %>
                  </div>

                  <div class="flat-form2">
                    <%= f.label :Price %>
                    <%= f.input :price, label: false, placeholder: "How many NeighBuds Coins for that?", :input_html => { class: "form-nice-class", min: '1', value: "1" }  %>
                  </div>

                  <div class="flat-form2">
                    <%= f.submit 'Submit', class: 'btn btn-success btn-block w-100 p-2' %>
                  </div>
                </div>
              <% end %>

            <div class="form-actions">
                  <%= link_to 'Delete', service_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-outline-danger btn-block w-100 p-2' %>
            </div>


            <div class="form-actions">
              <%= link_to 'Home page', root_path, class: 'btn btn-outline-dark btn-block w-100 p-2'%>
            </div>

             <div class="form-actions">
              <%= link_to "Dashboard", dashboard_path, class: 'btn btn-outline-dark btn-block w-100 p-2'%>
            </div>

      </div>
    </div>
  </div>
</div>
