<h1 class="p-3 text-center fw-bold main-title mb-2">Hey Neighbud, Find your service</h1>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12">
      <div class="grid search">
        <div class="grid-body">
          <div class="row">
            <!-- BEGIN FILTERS -->
            <div class="col-md-2">
              <h5 class="grid-title"><i class="fa fa-filter"></i> Filters</h5>
              <hr>
              
              <!-- BEGIN FILTER BY CATEGORY -->
              <h5><strong>By category:</strong></h5>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Application</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Design</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Desktop</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Management</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" class="icheck"> Mobile</label>
              </div>
              <!-- END FILTER BY CATEGORY -->
              
              <div class="mb-3"></div>
              
              <!-- BEGIN FILTER BY DATE -->
              <h5><strong>By date:</strong></h5>
              From
              <div class="form-nice-class datepicker" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                <input type="text" class="">
                <span class="input-group-addon bg-blue"><i class=""></i></span>
              </div>
              <input type="hidden" id="dtp_input1" value="">
              
              To
              <div class="form-nice-class datepicker" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                <input type="string" class="form-nice-class datepicker">
                <span class="input-group-addon bg-blue"><i class=""></i></span>
              </div>
              <input type="hidden" id="dtp_input2" value="">
              <!-- END FILTER BY DATE -->
              
              <div class="mb-3"></div>
              
              <!-- BEGIN FILTER BY PRICE -->
              <h5><strong>By price:</strong></h5>
              <div class="slider-primary">
                <div class="slider slider-horizontal" style="width: 152px;"><div class="slider-track"><div class="slider-selection" style="left: 30%; width: 50%;"></div><div class="slider-handle round" style="left: 30%;"></div><div class="slider-handle round" style="left: 80%;"></div></div><div class="tooltip top hide" style="top: -30px; left: 50.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">300 : 800</div></div><input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide"></div>
              </div>
              <!-- END FILTER BY PRICE -->
            </div>
            <!-- END FILTERS -->
            <!-- BEGIN RESULT -->
            <div class="col-md-9">
              <h2><i class="fa fa-file-o"></i> Result</h2>
              <hr>
              <!-- BEGIN SEARCH INPUT -->
              <div class="input-group mb-3">
                <input type="text" class="form-control" value="" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>



              <!-- MAP -->

                <div class="col-sm-12 d-flex mb-3">
                        <div style="width: 100%; height: 250px; margin-left: 0px;"
                            data-controller="mapbox"
                            data-mapbox-markers-value="<%= @markers.to_json %>"
                            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                        </div>
                </div> 

              <!-- MAP -->





              <!-- END SEARCH INPUT -->
              <h5><strong>List Results</strong></h5>
              
              <div class="padding"></div>
              
              <div class="row">
                <!-- BEGIN ORDER RESULT -->
                <div class="col-sm-6">
                  <div class="btn-group border mb-5">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      Order by <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Name</a></li>
                      <li><a href="#">Date</a></li>
                      <li><a href="#">View</a></li>
                      <li><a href="#">Rating</a></li>
                    </ul>
                  </div>
                </div>           
              </div>
                <!-- END ORDER RESULT -->

                <!-- BEGIN TABLE RESULT -->
                          <div class="container table-responsive">
                              <ul class="responsive-table">
                                <li class="table-header">
                                  <div class="col col-1">Image</div>
                                  <div class="col col-2">Title</div>
                                  <div class="col col-3">Price</div>
                                </li>
                        
                                <% @services.each do |service| %>
                                  <%= link_to service_path(service) do %>
                                    <li class="table-row d-flex">
                                      <div class="image col col-1"><img src="https://via.placeholder.com/400x300/FF8C00" alt=""></div>
                                      <div class="col col-2 product"><strong><%= service.title %></strong><br><%= service.description %></div>
                                      <div class="col col-3 price text-right fs-6" data-label="Amount">€ <%= service.price %></div>
                                    </li>
                                  <% end %>
                                <% end %>
                              </ul>
                          </div>
              <!-- END TABLE RESULT -->
              
              <!-- BEGIN PAGINATION -->
              <div class="container">
                <ul class="pagination responsive-table ps-4">
                  <li class="disabled"><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
              <!-- END PAGINATION -->
            </div>
            <!-- END RESULT -->
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH RESULT -->
  </div>
</div>

