<h1 class="p-3 text-center fw-bold main-title mb-2">Hey Neighbud, search for a service </h1>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
  <div class="row">
    <!-- BEGIN SEARCH RESULT -->
    <div class="col-md-12 fontes">
      <div class="grid search bg-light p-3 border rounded">
        <div class="grid-body">
          <div class="row">
            <!-- BEGIN FILTERS -->
            <div class="col-md-2">
              <h5 class="grid-title"><i class="fa fa-filter"></i> Filters</h5>
              <hr>

              <!-- BEGIN FILTER BY CATEGORY -->
              <div data-controller="filter">
                <%= simple_form_for :filter, method: :get do |f| %>
                  <h5 class= "fontes" ><strong>By category:</strong></h5>
                  <%= f.input :categories, as: :check_boxes, class: "fontes",
                    collection: Service::CATEGORIES, label: '',
                    required: false,
                    checked: params.dig(:filter, :categories),
                    input_html: { data: { filter_target: 'check' } } %>

                  <!-- END FILTER BY CATEGORY -->
                  <div class="mb-3"></div>

                  <!-- BEGIN FILTER BY PRICE -->
                  <h5 class = "fontes" ><strong>By price:</strong></h5>
                  <div class="slidecontainer" data-controller="price">
                    <input type="range" data-price-target="input" class="slider" name="price" min="1" max="500" value="<%= params[:price] %>">
                    <span data-price-target="value">$NB 0</span>
                  </div>
                <% end %>
              </div>
              <!-- END FILTER BY PRICE -->

            </div>
            <!-- END FILTERS -->
            <!-- BEGIN RESULT -->
            <div class="col-md-9">
            <h5 class="grid-title"><i class="fa fa-map-marker-alt"></i> Map</h5>
              <hr>

              <!-- BEGIN SEARCH INPUT -->

                <%= simple_form_for :search, url: services_path, method: :get do |f| %>
                  <div class="input-group mb-3">
                    <%= text_field_tag :query, params[:query], style: "border-radius: 5px;", class: "form-control", placeholder: "Search" %>
                    <button class="btn-primary ms-1" style="width: 50px; border-radius: 5px; background-color: #7e2bb6; border-color: #7e2bb6;" type="submit"><i class="text-light fa fa-search"></i></button>
                  </div>
                <% end %>

              <!-- MAP -->

                <div class="col-sm-12 d-flex mb-3">
                        <div style="width: 100%; height: 250px; margin-left: 0px;"
                            data-controller="mapbox"
                            data-mapbox-markers-value="<%= @markers.to_json %>"
                            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                        </div>
                </div>

              <!-- MAP -->

                <!-- END ORDER RESULT -->

            <!-- BEGIN TABLE RESULT -->
              <div class="table-responsive">
                  <ul class="responsive-table">
                    <li class="table-header">
                      <div class="col col-1 fontes">Category</div>
                      <div class="col col-2 fontes">Title</div>
                      <div class="col col-3 fontes">Price</div>
                    </li>

                    <% @services.each do |service| %>
                      <%= link_to service_path(service) do %>
                        <li class="table-row d-flex">
                          <div class="image col col-1"><img src="assets/<%= service.category %>.png" alt=""></div>
                          <div class="col col-2 product"><strong><%= service.title %></strong><br><%= service.description %></div>
                          <div class="col col-3 fs-6 text-center cor" data-label="Amount">$NB <%= service.price %></div>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
              </div>
          <!-- END TABLE RESULT -->

              <!-- BEGIN PAGINATION -->
              <div class="container">
                <ul class="pagination responsive-table ps-4 mt-1">
                  <li class="disabled"><a href="#"  style="color: #7e2bb6;">«</a></li>
                  <li class="active"><a href="#"  style="color: #7e2bb6;">1</a></li>
                  <li><a href="#"  style="color: #7e2bb6;">2</a></li>
                  <li><a href="#"  style="color: #7e2bb6;">3</a></li>
                  <li><a href="#"  style="color: #7e2bb6;">4</a></li>
                  <li><a href="#"  style="color: #7e2bb6;">5</a></li>
                  <li><a href="#"  style="color: #7e2bb6;">»</a></li>
                </ul>
              </div>
              <!-- END PAGINATION -->
            </div>
            <!-- END RESULT -->
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH RESULT -->
  </div>
</div>
