<h1>Services#index</h1>
<p>Services</p>


<% @services.each do |service| %>
            <h5><%= service.title %></h5>
            <h6><%= service.description %></h6>
            <h6>€<%= service.price %></h6>
            <%= link_to 'more info', service_path(service), class: "btn btn-outline-dark btn-sm" %>
    <% end %>


 <%=  link_to 'back', :back, class: 'btn btn-outline-dark btn-block w-40 btn-sm'%>