<div class="container p-3 bg-light border mt-2 main-title" style="width: 40rem; border-radius: 25px;">
  <h2 class="main-title ">Add new service</h2>
  <img
    src="https://img.freepik.com/vetores-gratis/homem-do-operador-com-computador-fones-de-ouvido-e-microfone-terceirizar-consultar-trabalhar-online-remover-trabalho-central-de-atendimento-ilustracao-plana-em-fundo-branco_186332-234.jpg"
    alt=""
    style="width: 350px; height: 350px, position: absolute; margin-left: 140px;"
    class="rounded-circle align-items-center"
  />

  <div class="row">
    <div class="col-12 d-flex justify-content-center text-center">
      <div class= "data-card2">


        <%= simple_form_for(@service) do |f| %>
        <div class="form-inputs" style="width: 20rem; border-radius: 25px;">
          <div class="flat-form2">
            <%= f.label :Title %>
            <%= f.input :title, label: false, placeholder: "What is the service?", :input_html => { class: "form-nice-class" } %>
          </div>

          <div class="flat-form2">
            <%= f.label :Description %>
            <%= f.input :description, label: false, placeholder: "Type a short and objective description", :input_html => { class: "form-nice-class" } %>
          </div>

          <div class="flat-form2">
            <%= f.label :Category %>
            <%= f.input :category, label: false, include_blank: true, prompt: 'Click to select', collection: ['Education', 'Sport', 'Reparing', 'Social Care', 'Health Care', 'Financial', 'Maintenance', 'Entertainment', 'Food', 'Other'], label: false, :input_html => { class: "form-nice-class"} %>
          </div>

          <div class="flat-form2">
            <%= f.label :Address %>
            <%= f.input :address, label: false, placeholder: "Type in the adress", :input_html => { class: "form-nice-class", data: { geocoder_target: "address" } },
                wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
          </div>

          <div class="flat-form2">
            <%= f.label "Price/hour" %>
            <%= f.input :price, label: false, placeholder: "How many NeighBuds Coins for that?", :input_html => { class: "form-nice-class", min: '1', value: "1" }  %>
          </div>

          <div class="flat-form2">
            <%= f.submit 'Add a service', class: 'btn btn-success btn-block w-100 p-2 mt-4 border' %>
          </div>
        </div>
        <% end %>

            <div class="form-actions">
              <%= link_to 'Go Back to Home page', root_path, class: 'btn btn-outline-dark btn-block w-100 p-2 border'%>
            </div>

             <div class="form-actions">
              <%= link_to "Go Back to your Dashboard", dashboard_path, class: 'btn btn-outline-dark btn-block w-100 p-2 border'%>
            </div>

      </div>
    </div>
  </div>
</div>
