Info do service

  <div class="map"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h3><%= @service.title %></h3>
        <p class="flat-show-address"><%= @service.description %></p>
      </div>

        <h3>Service Location</h3>

                    <div class="flat-card-map">
                        <div class="col-md-12 mt-3">
                            <div style="width: 98%; height: 340px; margin-left: 9px;"
                                data-controller="mapbox"
                                data-mapbox-markers-value="<%= @markers.to_json %>"
                                data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                            </div>
                        </div>
                    </div>

        <div class="map"></div>
      </div>


    <div class="col-4">
      <div class="flat-show-card">

        <%= link_to "Book this Service", new_service_booking_path(@service), class: 'btn btn-success mt-3 form-nice-class' %>

      </div>
      <div class="flat-show-card">
        <h4>Price/day</h4>
        <div class="flex">

          <div class="flex ms-3">
            <i class="material-icons me-2">€</i> <%= @service.price %>
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share with your friends</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x me-2"></i>
            <i class="fa fa-twitter-square fa-2x me-2"></i>
            <i class="fa fa-pinterest-square fa-2x me-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%=  link_to 'back', :back, class: 'btn btn-outline-dark btn-block w-40 btn-sm'%>
