


<div class="header">

<!-- SEARCH BAR -->

  <div class="container">
          <input id="searchBar" class="searchbar" type="text" placeholder="Search...">
          <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
      </div>
  </div>

<!-- SEARCH BAR -->

  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">  
  <label for="openSidebarMenu" class="sidebarIconToggle">  
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Neighbud <span>MENU</span></li>
      <li><a><%= link_to "home", root_path %></a></li>
      <li><a><%= link_to "My Profile", edit_user_registration_path(current_user) %></a></li>
      <li><a><%= link_to "My Dashboard", root_path %></a></li>
      <li><a><%= link_to "Add Service", new_service_path %></a></li>

      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %><a> RODRIGO<%= current_user.first_name %></a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <!-- <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %> -->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-dark" %>
        </div>
      </li>
      <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
      <% end %>

    </ul>
  </div>
 