<h1 class="p-3 text-center fw-bold main-title">My Dashboard</h1>

   <!-- My bookings Container -->

<div class="container p-3 mt-3 bg-light border rounded">

  <h3 class= "fw-bold border-bottom main-title">My Bookings</h3>

    <table class="table align-middle mt-3 bg-white main-title border-top: 2px solid currentColor;">
      <thead class="table-header text-light">
      <tr>
        <th>Bookings</th>
      </tr>
      </thead>
    </table>

<div class="container">    
  <div class="row mt-3">
    <% @user.services.each do |service| %>
      <div class="col-2 mb-4 ms-5">
          <div class="card cardmove">
          <div class= "p-3"> <img
                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px, position: absolute;"
                    class="rounded-circle align-items-center"
                  />
          </div>
            <div class="card-body main-title">
            
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  
                  <div class="ms-3">
                    <p class="fw-bold mb-1"><%= service.title %></p>
                    <p class="text-muted mb-0"><%= service.description %></p>
                  </div>
                </div>
                <span class="badge rounded-pill badge-success">Active</span>
              </div>
            </div>
            <div
              class="card-footer border-0 bg-light p-2 d-flex justify-content-left"
            >
              <a
                class="btn btn-link m-0 text-reset ms-4 main-title"
                href="#"
                role="button"
                data-ripple-color="primary"
                >Edit<i class="fas fa-edit ms-2"></i
              ></a>
              <a
                class="btn btn-link ms-0 text-reset ms-4 main-title"
                href="#"
                role="button"
                data-ripple-color="primary"
                >Delete<i class="fas fa-trash ms-2"></i
              ></a>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
</div>





 <!-- My Services was booked Container -->

<div class="container p-3 mt-5 bg-light border rounded">

  <h3 class= "fw-bold border-bottom main-title">My Schedule</h3>


  <table class="table align-middle mt-3 bg-white main-title">
    <thead class="table-header text-light">
      <tr>
        <th>Name Client</th>
        <th>Title Service</th>
        <th>Category</th>
        <th>My Price</th>
        <th>Request</th>
      </tr>
    </thead>

    <tbody>
      <% @user.services.each do |service| %>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <img
                  src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
              <div class="ms-3">
                <p class="fw-bold mb-1"><%= service.title %></p>
                <p class="text-muted mb-0"><%= service.title %></p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1"><%= service.title %></p>
            <p class="text-muted mb-0"><%= service.category %></p>
          </td>
          <td>
            <p class="text-muted mb-0"><%= service.category %></p>
          </td>
          <td>
            <p class="text-muted mb-0 ps-3">€ <%= service.price %></p>
          </td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded">
              Confirm
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


