

<div id="container" class="d-flex justify-content-center align-middle banner-container-home mb-4">





  <div class="main-title d-flex justify-content-center">

  
    <div class="col-12 row justify-content-center align-middle">
                <img src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654708356/Neighbud%20images/wallpaper-Recovered-Recovered_lzkncs.png" style=" max-width: 400px; max-height: 400px; width: auto; height: auto; position: absolute; margin-top: -1.25rem; margin-right: -60rem;">

      <div class="col-12 d-flex justify-content-center text-centerd-block" style="align-items: end">

        <div style="margin-left: 0rem;"><h1 class = "fontes">Find a neighbor. Find a service.</h1></div>


       
      </div>


      <div class= "">
        <%= simple_form_for :search, url: services_path, method: :get do |f| %>
          <div class="search-form-control fontes d-flex">
            <%= text_field_tag :query, params[:query], class: "form-control string required" %>
            <button name="button" type="submit" class="btn-secondary btn-sm table-header buttonmove">
            <i class="fas fa-search"></i> Search
            </button>

          </div>
        <% end %>

          <div class="col-12 d-flex justify-content-center mt-5" style="align-items: end; text-align: center;">

            <h5 class="fontes" > Register now and earn $NB 50 to start purchasing services from your neighbors.</h5>

          </div>

      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mx-4">

  <%= link_to services_path(query: "education"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-book-open card-icon2"></i>
      <span class="text-middle2 text-center">Education</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "sport"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-volleyball card-icon2"></i>
      <span class="text-middle2 text-center">Sport</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "repairing"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-hammer card-icon2"></i>
      <span class="text-middle2 text-center">Repairing</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "socialcare"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-hand-holding-heart card-icon2"></i>
      <span class="text-middle2 text-center">Social Care</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "healthcare"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-heart-pulse card-icon2"></i>
      <span class="text-middle2 text-center">Health Care</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "financial"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-sack-dollar card-icon2"></i>
      <span class="text-middle2 text-center">Financial</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "maintenance"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-gear card-icon2"></i>
      <span class="text-middle2 text-center">Maintenance</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "entertainment"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-camera card-icon2"></i>
      <span class="text-middle2 text-center">Entertainment</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "food"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-apple-whole card-icon2"></i>
      <span class="text-middle2 text-center">Food</span>
    </div>
  <% end %>

  <%= link_to services_path(query: "other"), :controller => "services" do %>
    <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
      <i class="fa-solid fa-shuffle card-icon2"></i>
      <span class="text-middle2 text-center">Other</span>
    </div>
  <% end %>

</div>


<!-- How it Works -->

  <h1 class="about-title display-3 d-flex justify-content-center align-middle" style="margin-top: 130px;">How it works</h1>
  <div id="down" class="container d-flex justify-content-center align-middle mt-5">


    <div class="container mb-2 border-top border-bottom">


        <div class="row g-2">

            <div class="col-md-12">

                <div class="cardperfil p-3 text-center px-4">


                    <div class="user-content d-flex justify-content-center">
                      <div class="justify-content-center align-middle">
                        <img
                          src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654697912/Neighbud%20images/undraw_secure_login_pdn4_bg6kx4.png"
                          alt=""
                          style="width: 200px; height: 200px, position: absolute;"
                          class="rounded-circle align-items-center"
                        />
                        <h6 class="main-title fontes ">Log in</h6>
                        <p class="main-title fontes ">login and enjoy the application</p>

                      </div>

                        <p class="align-items-center" style="margin-top:5%; width: 100px; height: 100px,"><i class="fas fa-arrow-alt-circle-right"></i></p>

                      <div class="justify-content-center align-middle">
                        <img
                          src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654697912/Neighbud%20images/undraw_Choose_re_7d5a_cvkmnt.png"
                          alt=""
                          style="width: 150px; height: 150px, position: absolute;"
                          class="rounded-circle align-items-center"
                        />
                        <h6 class="main-title fontes ">Choose the service</h6>
                        <p class="main-title fontes ">filter and choose a service from a neighbor</p>
                      </div>

                        <p class="align-items-center" style="margin-top:5%; width: 100px; height: 100px,"><i class="fas fa-arrow-alt-circle-right"></i></p>


                      <div class="justify-content-center align-middle">
                        <img
                          src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654697912/Neighbud%20images/undraw_Booking_re_gw4j_tjcxvh.png"
                          alt=""
                          style="width: 212px; height: 212px, position: absolute;"
                          class="rounded-circle align-items-center"
                        />
                        <h6 class="main-title ">Book the service</h6>
                        <p class="main-title ">book the service and wait for confirmation from the other user</p>
                      </div>

                        <p class="align-items-center" style="margin-top:5%; width: 100px; height: 100px,"><i class="fas fa-arrow-alt-circle-right"></i></p>

                      <div class="justify-content-center align-middle">
                        <img
                          src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654697912/Neighbud%20images/undraw_QA_engineers_dg5p_lwhflf.png"
                          alt=""
                          style="width: 200px; height: 200px, position: absolute;"
                          class="rounded-circle align-items-center"
                        />
                        <h6 class="main-title ">Do the Job</h6>
                        <p class="main-title ">do the work on the day and time scheduled between the users</p>
                      </div>

                        <p class="align-items-center" style="margin-top:5%; width: 100px; height: 100px,"><i class="fas fa-arrow-alt-circle-right"></i></p>

                      <div class="justify-content-center align-middle">
                        <img
                          src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654697912/Neighbud%20images/undraw_Online_payments_re_y8f2_pobuu1.png"
                          alt=""
                          style="width: 220px; height: 220px, position: absolute;"
                          class="rounded-circle align-items-center"
                        />
                        <h6 class="main-title ">Pay your Neighbud</h6>
                        <p class="main-title ">After the work is done, confirm the credit transfer on your dashboard</p>
                      </div>

                    </div>

                </div>

            </div>


        </div>

    </div>
 </div>




<!-- ABOUT US -->

  <h1 class="about-title display-3 d-flex justify-content-center align-middle" style="margin-top: 130px;">About my team</h1>
  <div id="down" class="container d-flex justify-content-center align-middle mt-5">



    <div class="container mb-5 border-bottom">
        
        <div class="row g-2">
            <div class="col-md-4">
                <div class="cardperfil text-center">
                    
                    <div class="user-image ">
                        
                <img src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654705922/Neighbud%20images/T02NE0241-U03BQBN8L0G-fa4cf6003167-512_v1na2j-Circle_fyzwfj.jpg" class="rounded-circle" width="150"

                        >

                    </div>

                    
                    <div class="user-content fontes">
                        
                        <h4 class="mb-0 mt-3">Carlos Soto</h4>
                        <span>Professional Videographer | fullstack Developer</span>
                        <p>Carlos Soto Videographer professional with 6 years background and new fullstack Developer, focused in back-end. </p>
                        

                    </div>

                </div>
            </div>

            <div class="col-md-4">

                <div class="cardperfil text-center">
                    
                    <div class="user-image">
                        
                <img src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654706013/Neighbud%20images/WhatsApp_Image_2022-05-23_at_11.11.23_xv6rq3-Circle_qlze8v.jpg" class="rounded-circle" width="150"

                        >

                    </div>

                    
                    <div class="user-content fontes">
                        
                        <h4 class="mb-0 mt-3">Rodrigo Nóbrega</h4>
                        <span>Mechanical Engineer | fullstack Developer | Outsystems Developer</span>
                        <p>Rodrigo Nóbrega is a mechanical engineer, with experience in the manufacturing industry. he is an outsystems developer and the newest fullstack developer. frontend focused.</p>
                        

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="cardperfil text-center">
                    
                    <div class="user-image">
                        
                <img src="https://res.cloudinary.com/student-le-wagon/image/upload/v1654705779/Neighbud%20images/eu_td4ywe-Circle_jeqg91.jpg" class="rounded-circle" width="150"

                        >

                    </div>

                    
                    <div class="user-content fontes">
                        
                        <h4 class="mb-0 mt-3">Sayonara Almeida</h4>
                        <span>Architect | Fullstack Developer</span>
                        <p>Sayonara Almeida is an Architect and new fullstack Developer, focused in back-end.</p>
                        

                    </div>

                </div>

            </div>


        </div>

    </div>
 </div>
